header {
    border-bottom: 1px solid #dee2e6;
    height: fit-content;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}

.staticBar {
    position: relative;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    height: 80px;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    position: relative;
    top: 20px;
    left: 15px;
}

.logo-main {
    font-weight: 800;
    font-size: 25px;
    position: absolute;
    height: 80px;
    width: 80px;
    top:0;
    left:0;
    color: green;
}

.logo-footer {
    font-weight: bold;
    font-size: 7px;
    position: absolute;
    height: 30px;
    width: 80px;
    top: 28px;
    left: 0;
    color: black;
}

.button-basic {
    position: absolute;
    border: 0;
    border-radius: 4px;
    font-size: 14px;
    height: 28px;
    padding-top: 0px;
    text-align: center;
    color: black;
    background-color: #e8f9ea;
    top: 27px;
}

.button-basic:hover {
    background-color: lightgray;
    cursor: pointer;
}

.button-basic:disabled {
    background-color: green;
    color:white;
}

.button-mobile {
    @extend .button-basic;
    text-align: left;
    padding-left: 10px;
    left: 10px;
    width: 95%;

}

.aboutMobile {
    @extend .button-mobile;
    top: 10px;
}

.designMobile {
    @extend .button-mobile;
    top: 40px;
}

.klikAppMobile {
    @extend .button-mobile;
    top: 70px;
}

.usageMobile {
    @extend .button-mobile;
    top: 100px;
}

.loginMobile {
    @extend .button-mobile;
    top: 130px;
}

.about {
    @extend .button-basic;
    left: 140px;
    width: 70px;
}


.design {
    @extend .button-basic;
    left: 220px;
    width: 70px;
}

.klikApp {
    @extend .button-basic;
    left: 300px;
    width: 90px;
}

.usage {
    @extend .button-basic;
    left: 400px;
    width: 70px;
}

.login {
    @extend .button-basic;
    left: 480px;
    width: 70px;
}

.hamburger {
    display: none;
}

.hamburgerMenuHider {
    display: none;
}

@media (max-width: 767px) {
    .horizontalMenu {
        display: none;
    }

    .hamburgerMenuHider{
        display: contents;
    }

    .hamburgerMenu {
        position: relative;
        border-bottom: 1px solid #dee2e6;
        top: 0px;
        height: 180px;
        width: 100vw;
        font-family: Arial, Helvetica, sans-serif;
    }

    .hamburger {
        position: absolute;
        left: 90%;
        top: 32px;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: space-around;
        flex-flow: column nowrap;
    }

    .burger {
        width: 24px;
        height: 3px;
        background-color: black;
        transform-origin: 1px;
    }
}
