
.kliksTable {
    position: absolute;
    width: 250px;
    top: 60px;
}

.kliksTable tr {
    height: 40px;
}

.kliksTable td {
    text-align: center;
}

.userCountLabel {
    background-color: green;
    color: white;
}

.userCount {
    background-color: lightgray;
    color: green;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width: 70px;
}

.totalCountLabel {
    background-color: saddlebrown;
    color: white;
}

.totalCount {
    background-color: lightgray;
    color: saddlebrown;
    font-weight: bold;
    font-size: 20px;
    width: 70px;
    text-align: center;
}

.klikButton {
    position: absolute;
    top: 0;
    width: 300px;
    height: 40px;
}